<nb-card>
    <nb-card-header>
        Panier de {{ session.user?.firstName }} {{ session.user?.lastName }}
    </nb-card-header>
    <nb-card-body>
        <nb-list>
            <nb-list-item *ngFor="let item of  model?.results">
                <div>
                    <p>
                        <img class="small-img" [src]="item.image | defaultImage">
                    </p>
                    <p>Référence: {{ item.reference }}</p>
                    <p>Race: {{ item.reference }}</p>
                    <p>Vacciné: {{ item.isVaccinated ? 'oui' : 'non' }}</p>
                    <p>Date de naissance: {{ item.birthDate.toDateString() }}</p>
                    <p><button nbButton outline status="danger" (click)="cancel()"><nb-icon icon="close">Annuler</nb-icon></button></p>
                </div>
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>
