<nb-card>
    <nb-card-header>
        S'enregistrer
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="formGroup"
              (ngSubmit)="submit()">
            <div class="form-group">
                <input nbInput type="text" placeholder="Pseudo" fullWidth formControlName="username">  
            </div>
            <div class="form-group">
                <input nbInput type="password" placeholder="Mot de passe" fullWidth formControlName="password">  
            </div>
            <div class="form-group">
                <input nbInput type="text" placeholder="Nom" fullWidth formControlName="lastName">  
            </div>
            <div class="form-group">
                <input nbInput type="text" placeholder="Prénom" fullWidth formControlName="firstName">  
            </div>
            <div class="form-group">
                <button nbButton status="info" outline>S'enregistrer</button>
            </div>
        </form>   
    </nb-card-body>
</nb-card>