<div style="display: flex;">
  <nb-card class="chart" style="width: 50%;">
    <nb-card-header>
      Répartition par races
    </nb-card-header>
    <nb-card-body>
      <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [colors]="colors"
              chartType="pie">
      </canvas>
    </nb-card-body>
  </nb-card>

  <nb-card class="chart" style="width: 50%;">
    <nb-card-header>
      Répartition par status
    </nb-card-header>
    <nb-card-body>
      <canvas baseChart
              [data]="barChartData"
              [labels]="barChartLabels"
              [colors]="colors"
              [options]="barChartOption"
              chartType="bar">
      </canvas>
    </nb-card-body>
  </nb-card>
</div>

<input nbInput [nbDatepicker]="datepicker" placeholder="Date de début" fullWidth [(ngModel)]="start">
                <nb-datepicker #datepicker></nb-datepicker>
<input nbInput [nbDatepicker]="datepicker2" placeholder="Date de fin" fullWidth [(ngModel)]="end">
                <nb-datepicker #datepicker2></nb-datepicker>
<button nbButton outline status="info" (click)="getRapport()" [disabled]="!start">Générer rapport</button>
