<nb-card>
    <nb-card-header>{{ model.reference }}</nb-card-header>
    <nb-card-body>
        <img [src]="model.image | defaultImage">
        <p>Date de naissance: {{ model.birthDate}}</p>
        <p>Race: {{ model.breedName }}</p>
        <p>Vacciné:
            <nb-icon [status]="model.vaccinated ? 'success' : 'danger'"
                     [icon]="model.vaccinated ? 'checkmark' : 'close'"></nb-icon>
        </p>
        <div>
            <button *ngIf="session.user && model.statusName == 'FREE'" (click)="addToCart()" nbButton outline status="info">Réserver</button>
        </div>
    </nb-card-body>
</nb-card>
