.image-container{
    display: inline-block;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
    position: relative;
    &:hover {
        border: 1px solid lightskyblue;
        box-shadow: 0 0 3px 2px lightskyblue;
        nb-icon {
            display: block;
        }
    }
    nb-icon {
        color: lightskyblue;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 800;
        font-size: 30px;
        display: none;
    }
    img {
        height: 200px;
        width: auto;
    }
}