<nb-layout>

  <nb-layout-header fixed class="space-between">
    <nb-actions>
      <nb-action icon="menu" (click)="toggle()"></nb-action>
  </nb-actions>
  DEMO Angular
  <nb-actions *ngIf="isLogged">
      <nb-action icon="shopping-cart-outline" [routerLink]="['/cart']"></nb-action>
      <nb-action icon="power-outline" (click)="logout()"></nb-action>
  </nb-actions>
  <nb-actions *ngIf="!isLogged">
      <nb-action icon="log-in-outline" [routerLink]="['/login']"></nb-action>
      <nb-action icon="person-add-outline" [routerLink]="['/register']"></nb-action>
  </nb-actions>
  </nb-layout-header>
  <nb-sidebar>
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
