<nb-card>
    <nb-card-header>
        Se Connecter
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="formGroup"
              (ngSubmit)="submit()">
            <div class="form-group">
                <input nbInput type="text" placeholder="Pseudo" fullWidth formControlName="username">  
            </div>
            <div class="form-group">
                <input nbInput type="password" placeholder="Mot de passe" fullWidth formControlName="password">  
            </div>
            <div class="form-group">
                <button nbButton status="info" outline>Se connecter</button>  
            </div>
        </form>   
    </nb-card-body>
</nb-card>