<nb-card>
    <nb-card-header>
        Tous les animaux
    </nb-card-header>
    <nb-card-body>
        <div>
            <button routerLink="/pet-add" nbButton outline status="info">Nouvel animal</button>
        </div>
        <nb-accordion>
            <nb-accordion-item>
                <nb-accordion-item-header>Filtres</nb-accordion-item-header>
                <nb-accordion-item-body>
                        <div class="form-group"></div>
                        <form [formGroup]="fg" (ngSubmit)="search()">
                        <div class="form-group" style="display: flex;">
                            <div style="width: 50%;">
                                <p><label>Breed</label></p>
                                <nb-select formControlName="breedId">
                                    <nb-option [value]="null">All</nb-option>
                                    <nb-option *ngFor="let item of breedService.breeds" [value]="item.id">{{item.name}}</nb-option>
                                </nb-select>
                            </div>
                            <div style="width: 50%;">
                                <p><label>Status</label></p>
                                <nb-select formControlName="statusName">
                                    <nb-option [value]="null">All</nb-option>
                                    <nb-option [value]="'FREE'">Free</nb-option>
                                    <nb-option [value]="'BOOKED'">Booked</nb-option>
                                    <nb-option [value]="'ACCEPTED'">Accepted</nb-option>
                                </nb-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <button nbButton outline status="info">Rechercher</button>
                        </div>
                    </form>
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
        <table mat-table [dataSource]="model?.results || []" class="mat-elevation-z8">

            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef> Image </th>
                <td mat-cell *matCellDef="let element"> <img class="small-img" [src]="element.image|defaultImage"> </td>
            </ng-container>

            <ng-container matColumnDef="reference">
                <th mat-header-cell *matHeaderCellDef> Réference </th>
                <td mat-cell *matCellDef="let element"> {{element.reference}} </td>
            </ng-container>

            <ng-container matColumnDef="breedName">
                <th mat-header-cell *matHeaderCellDef> Race </th>
                <td mat-cell *matCellDef="let element"> {{element.breedName}} </td>
            </ng-container>

            <ng-container matColumnDef="statusName">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.statusName}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button nbButton size="small" status="info" outline [routerLink]="['/pet-details', element.id]">
                        <nb-icon icon="search"></nb-icon>
                    </button>
                    <button *ngIf="session.user?.roles.includes('ADMIN')" nbButton size="small" status="warning" outline [routerLink]="['/pet-update', element.id]">
                        <nb-icon icon="edit" ></nb-icon>
                    </button>
                    <button *ngIf="session.user?.roles.includes('ADMIN')" nbButton size="small" status="danger" outline (click)="delete(element)">
                        <nb-icon icon="trash"></nb-icon>
                    </button>
                    <button *ngIf="session.user?.roles.includes('ADMIN') && element.statusName == 'BOOKED'" nbButton size="small" status="success" outline (click)="accept(element)">
                        <nb-icon icon="checkmark"></nb-icon>
                    </button>
                    <!-- <button nbButton size="small" status="warning" outline [routerLink]="['/pet-update', element.id]">
                        <nb-icon icon="edit" ></nb-icon>
                    </button>
                    <button nbButton size="small" status="danger" outline (click)="delete(element)">
                        <nb-icon icon="trash"></nb-icon>
                    </button>
                    <button
                            nbButton size="small" status="success" outline (click)="accept(element)">
                        <nb-icon icon="checkmark"></nb-icon>
                    </button> -->
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [length]="model?.count" [pageSize]="5"></mat-paginator>
    </nb-card-body>
</nb-card>

