.small-img {
    height: 75px;
    width: auto;
}

nb-accordion {
    margin-top: 10px;
}

table {
    width: 100%;
    background: unset;
    margin: 10px 0;
    color: white;
    th, td {
        color: white;
    }
}


button {
    margin: 0 5px;
}
mat-paginator {
    background: unset;
    color: white;
}

