<nb-card>
    <nb-card-header>
        Modifier {{ model.reference }}
    </nb-card-header>
    <nb-card-body>
        <form (ngSubmit)="submit()" [formGroup]="formGroup">
            <div class="form-group">
                <input nbInput formControlName="reference" placeholder="Réference">
            </div>
            <div class="form-group">
                <input #inputFile type="file" (change)="fileChangeEvent($event)" hidden>
                <p>Image :</p>
                <div class="image-container" (click)="inputFile.click()">
                    <nb-icon icon="edit"></nb-icon>
                    <img [src]="imageSource | defaultImage">
                </div>
            </div>
            <div class="form-group">
                <nb-select placeholder="Race" type="text" fullWidth formControlName="breedId">
                    <nb-option></nb-option>
                    <nb-option *ngFor="let item of breedService.breeds"
                                [value]="item.id">{{ item.name }}</nb-option>
                </nb-select>
            </div>
            <div class="form-group">
                <nb-checkbox formControlName="vaccinated">Vacciné</nb-checkbox>
            </div>
            <div class="form-group">
                <input nbInput [nbDatepicker]="datepicker" placeholder="Date de Naissance" fullWidth formControlName="birthDate">
                <nb-datepicker #datepicker></nb-datepicker>
            </div>
            <div>
                <input nbButton type="submit">
            </div>
        </form>
    </nb-card-body>
</nb-card>
