<nb-card accent="danger">
    <nb-card-header>
        Confirmation
    </nb-card-header>
    <nb-card-body>
        {{ message }}
    </nb-card-body>
    <nb-card-footer style="text-align: right;">
        <button nbButton outline status="info" (click)="no()">non</button>
        <button nbButton outline status="danger" (click)="yes()">oui</button>
    </nb-card-footer>
</nb-card>